.box1 {
    display: block;
    padding: 10px;
    //margin-bottom: 20px;
    text-align: justify;
}

.box2 {
    display: block;
    padding: 10px;
    text-align: justify;
    //margin-top: 20px;
}

.box3 {
    display: block;
    padding: 10px;
    text-align: justify;
    //margin-top: 20px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}

input {
  display: inline-block;
  float: center;
}

.submitbutton {
  width: 300px;
  height: 50px;
  position: relative;
  text-align: center;
}